body {
	background-color: #eeeeee;
	color: #222222;

	--font-size: 25px;
	font-size: var(--font-size);
	font-family: Helvetica, Arial, sans-serif;

	--main-border: 3px solid #222222;
}

#wrapper {
	display: flex;
	margin-top: 30px;
	justify-content: center;
}

.column {
	flex: 33%;
}

/* --- Center ---*/
#board {
	margin: 10px;
}

/* --- Right column --- */

fieldset > legend {
	font-size: 15px;
}

/* -- Counters --*/
.counters {
	display: flex;
}

.counter {
	flex: 33%;
	border: var(--main-border);
	border-radius: 5px;
	text-align: center;
	margin: 5px;
}

/* -- Teams -- */
#teamsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.team {
	border: var(--main-border);
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

.teamName, .teamPoints {
	margin: 5px;
	padding: 5px;
}

.teamName {
	width: 70%;
}

.teamPoints {
	width: 30%;
}

.teamPoints {
	text-align: right;
	vertical-align: middle;
}
.teamHeader {
	border: var(--main-border);
	border-radius: 5px;
}

.teamHeader, .teamBeersContainer {
	display: flex;
	width: 90%;
	margin: 5px auto 2px auto;
}

.teamBeers {
	margin: 5px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 5px;
	flex: 50%;
	text-align: center;
	vertical-align: middle;
	justify-content:center;
	align-items: center;
	border: var(--main-border);
	border-radius: 5px;
	display:flex;
}

/* --- Left column --- */

/* -- Messages field -- */
#messagesContainer {
	margin: 5px;
	padding: 10px;
	height: 780px;

	border: var(--main-border);
	border-radius: 5px;

	display: -webkit-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/*flex-wrap: wrap;*/
	overflow: hidden;
}

.message {
	margin: 5px;
	padding: 5px;
	border: var(--main-border);
	border-radius: 5px;
	/*overflow: hidden;*/
}

.log {
	border-color: green;
}

.warn {
	border-color: #fcba03;
}

.error {
	border-color: red;
}

/* -- User input -- */
form > input {
	display: block;
	margin: auto;
	width: 80%;
	padding: 10px;
	border: var(--main-border);
	border-radius: 5px;
	background: none;
	box-sizing: border-box;
	outline: none;
	font-size: var(--font-size);
}
